html {
    --cor-de-fundo: linear-gradient(0deg, rgba(189,232,232,1) 0%, rgba(249,228,216,1) 100%);
    --cor-principal: #e84e4e;
    --cor-secundaria: #f5a3a3;
    --cor-destaque: #91e2e2;
}

body {
    margin: 0;
    padding: 0;
    background: var(--cor-de-fundo);
    color: var(--cor-principal);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

#navbar {
    display: flex;
    justify-content: space-between;
    height: 70px;
    margin-bottom: 2rem;
    color: white;
    background-color: var(--cor-principal);
}

a {
    text-decoration: none;
    background-color: var(--cor-secundaria);
    padding: 0.35rem;
    border-radius: 16px;
    color: var(--cor-principal);
    font-weight: 600;
}

.navbar_logo {
    max-height: 100%;
    margin-left: 1rem;
    width: auto;
}

.navbar_logo img {
    width: auto;
    height: 90%;
}

.navbar_options {
    align-self: center;
}

.navbar_options li {
    display: inline-block;
    margin: 0.5rem;
}

.navbar_options li:last-child {
    margin-right: 1rem;
}

#cards {
    height: 100%;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
    width: 8rem;
    height: 8rem;
    border-radius: 16px;
    border: 1px solid var(--cor-secundaria);
    box-shadow: 4px 4px 0px var(--cor-secundaria);
    background-color: white;
}

.pokemon:hover {
    transform: scale(1.03);
    transition: ease-in-out 350ms;
    color: var(--cor-destaque);
    border: 1px solid var(--cor-destaque);
    box-shadow: 4px 4px 0 var(--cor-destaque);
}

b {
    font-weight: 600;
}